@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

* {
  /* box-sizing: border-box; */
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.margin-bottom-small {
  margin-bottom: 1em;
}

.margin-bottom-medium {
  margin-bottom: 3em;
}

.margin-bottom-big {
  margin-bottom: 5em;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

/* each product item 'Details' */
.product__container--h1 {
  text-align: center;
}

.product__container--img {
  height: 20vh;
}

@media (max-width: 750px) {
  .product__container--img {
    height: 23vh;
  }
}

.product__price {

}
@media (max-width: 280px) {
  .product__price {
    font-size: 1.2rem;
  }
}

.product__container--description {
  font-size: 1.6rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #d57d19;
  padding: 0 1.5rem;
}

@media (max-width: 375px) {
  .main-header {
    height: 5rem;
  }
}

.main-header__nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
    padding: 0 1rem;
  }

  #side-menu-toggle {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .main-header__nav {
    justify-content: flex-start;
    font-size: 0.8rem;
  }
}

.main-header__item-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
  transition: all 3s ease-in-out;
}

.main-header__item:hover {
  box-shadow: 0 5px 10px 10px rgba(#ffeb3b, 0.2);
}

.main-header__item a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: all 0.5s ease-in;
}

@media (max-width: 420px) {
  .main-header__item a {
    font-size: 0.6rem;
  }
}

.main-header__item a:hover {
  transform: skewY(2deg) skewX(0deg) scale(1.0);
  font-weight: 600;
  box-shadow: 0 5px 10px 10px 10px rgba(#ffeb3b, 0.4);
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
  height: 200px;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

@media (max-width: 255px) {
    .card__actions {
      display: flex;
      flex-flow: column wrap;
      padding: 1rem;
      text-align: center;
  }
}

.card__actions--form {

}

.card__actions--qtyContainer {

}
.card__actions--qty {
  border: 1px solid #ff842d;
  border-radius: 0.2rem;
}
.card__actions--plus,
.card__actions--minus {
  text-decoration: none;
  border-radius: 0.2rem;
  background-color: #ffeb3b;
  color: rgba(0,0,0, 0.8);
  border: 1px solid orange;
}


.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

@media (min-width: 768px) {
  #side-menu-toggle {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.btn {
  font: inherit;
  border: 1px solid #ff842d;
  color: white;
  background: #e37222;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;

  max-width: 100px;
  width: 100%;

  transition: all .35s ease-in-out;
}
@media (max-width: 255px) {
  .btn {
    max-width: 200px;
  }
}

.btn:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);

  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 0 0 rgba(255,255,255,0.8);
}