.margin-bottom-small {
    margin-bottom: 1em;
}
  
.margin-bottom-medium {
    margin-bottom: 3em;
}
  
.margin-bottom-big {
    margin-bottom: 5em;
}

.products-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.product-form {
    /* width: 20rem; */
    max-width: 90%;
    margin: 0 auto;
    /* display: block; */

    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.product-item {
    border-radius: 0.5rem;
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}